body{
	background: green;
	color: #fff;
}
ul{
	list-style-type: none;
	padding: 0;
}
li{
	clear: both;
	border: 1px solid red;
}
li a{
	background: yellow;
	padding: 10px 15px;
	color: red;
	font-size: 20px;
}
li a:hover{
	background: blue;
}